@import "globals";

div.app {
  background-image: url("/assets/_flying.jpg");
  background-size: cover;
  background-position: center;
}

h1, h2, h3, h4, th, td, span {
  color: white;
}

div.whoops-404 {
  background-color: white;
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
